<!DOCTYPE html>
<html>
<head>
  <title>Shinyapp</title>
  <%= stylesheet_link_tag    "shinyapp/application", :media => "all" %>
  <%= javascript_include_tag "shinyapp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
